image: docker:latest

services:
  - docker:dind

stages:
  - build
  - deploy

variables:
  IMAGE_NAME: chris/node

build:
  stage: build
  script:
    - docker build -t $IMAGE_NAME .
    - docker images $IMAGE_NAME

deploy:
  stage: deploy
  script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker push $IMAGE_NAME
  only:
    - master